@font-face {
    font-family: 'Google Sans Code';
    src: url('./GoogleSansCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin-bottom: 10px;
    margin-left: 80px;
}

#alarm-buttons {
    height: 230px;
    width: 165px;
    margin-top: 125px;
    display: grid;
    margin-left: 108px;
}

#car-key-image {
    position: absolute;
    height: 600px;
    width: 400px;
    left: 0px;
    top: 5px;
    z-index: -1;
}

body {
    background-color: grey;
}

.alarm-button {
    height: 70px;
    width: 70px;
    margin-left: 5px;
    background-color: black;
    color: white;
}

#lock-button {
    height: 70px;
    width: 155px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    color: white;
}

* {
    font-family: 'Google Sans Code';
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}